# Database Credentials
DB_USER=db_user
DB_PASSWORD=secretpassword

# User Service
USER_DB_NAME=user_db
JWT_SECRET="secret key"

# Product Service
PRODUCT_DB_NAME=product_db

# Order Service
ORDER_DB_NAME=order_db

# Payment Service
PAYMENT_DB_NAME=payment_db
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_CLIENT_KEY=your-midtrans-client-key

# Redis Configuration
REDIS_PASSWORD=

# Ports
GATEWAY_PORT=8080
USER_DB_PORT=5432
PRODUCT_DB_PORT=5433
ORDER_DB_PORT=5434
REDIS_PORT=6379


# Machine to Machine Communication
INTERNAL_SERVICE_SECRET="internal-service-secret"