root = "."
tmp_dir = "tmp"

[build]
  # Just build the main.go in your cmd/api folder
  cmd = "go build -o ./tmp/main ./cmd/api/main.go"
  bin = "tmp/main"
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "yml"]
  exclude_dir = ["assets", "tmp", "vendor", "test"]
  delay = 1000 # Milliseconds to wait before rebuilding
  stop_on_error = true
  log = "air.log"

[log]
  time = true

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"
